UnityTubeExtrusion/Assets/AssetStoreTools/**
UnityTubeExtrusion/Assets/AssetStoreTools.meta
UnityTubeExtrusion/Assets/TubeExtrusion.meta
UnityTubeExtrusion/Library/**
UnityTubeExtrusion/Logs/**
UnityTubeExtrusion/Packages/**
UnityTubeExtrusion/ProjectSettings/**
UnityTubeExtrusion/Temp/**
*.meta